body{
    overflow-x: hidden;
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}

.nav-link{
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.nav-link:hover{
    transition: .4s;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    }
}

.fa-beer{
    font-size: 35px;
}

.w-100{
    width: 100%;
    height: 100%;
}

.header{
    background-image: url(imagens/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 125%;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
}

.header h1{
    text-align: center;
    font-size: 7em;
    color: #FFF;
    letter-spacing: -0.025em;
    font-weight: 300;
    padding: 10% 0;
}

.my-4{
    width: 75%;
}

#txt-home{
    margin: 0 auto;
    background: #f2f2f2;
    color: #777;
    font-weight: 300;
    font-size: 1.2em;
    padding: 5%;
    text-align: left;
    width: 100%;
    float: left;
    display: flex;
}

#txt-we{
    background: url(imagens/img8.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 570px;
    overflow: hidden;
    width: 100%;
    padding: 10% 0;
}

.box{
    color: #f4f4f4;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4%;
}

#txt-home img{
    width: 250px;
    margin: 0 10%;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
}

#who{
    margin: 0 auto;
    background: #fff;
    padding: 5%;
}

#jobs{
    margin: 0 auto;
    background: #f2f2f2;
    padding: 5%;
}

.fa-smile-beam, .fa-dice-six, .fa-cubes, .fa-university{
    font-size: 2em;
}

.fa-map-marker-alt, .fa-envelope, .fa-phone-alt, .fa-whatsapp, .fa-facebook-square, .fa-instagram{
    font-size: 2em;
    margin: 15px;
}

.footer{
    padding: 2%;
    width: 100%;
    height: 100%;
    background: #242424;
    color: #999;
}

h3{
    padding: .5em 0em 0em 0em;
}

.container h2{
    padding: 3%;
    margin: 0 auto;
    color: #777;
}

main{
    text-align: center;
    margin: 0 auto;
}


.gridItem{
    padding: 10%;
    color: #777;
    border: 0.1em solid #777;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    word-break: break-all;
}

/* GRID */
.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 250px 250px 1fr;
    grid-gap: 20px;
    padding: 5%;
    width: 80%;
    margin: 0 auto;

    grid-template-areas: 
    "Localização  Email"
    "Whatsapp     Telefone"
    "Face         Insta"
    ;
}

.Localização{
    grid-area: Localização;
}

.Email{
    grid-area: Email;
}

.Whatsapp{
    grid-area: Whatsapp;
}


.Telefone{
    grid-area: Telefone;
}

.Face{
    grid-area: Telefone;
}

.Insta{
    grid-area:  Insta;
}

@media(max-width: 800px){
    .gridContainer{
        grid-template-columns: repeat(1, 1fr);
        display: block;
        width: 90%;
    }

    .gridItem{
        padding: 10%;
        margin: 5%;
    }
}

/* --------------------------------------------------- */

.gridContainer-2{
    width: 100%;
    margin: 0 auto;
}

.gridItem-2{
    color: #777;
    padding: 5%;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

/* GRID */
.gridContainer-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px 1fr;
    grid-gap: 20px;

    grid-template-areas: 
    "Localização  Email"
    "Whatsapp     Telefone"
    ;
}

.Localização{
    grid-area: Localização;
}

.Email{
    grid-area: Email;
}

.Whatsapp{
    grid-area: Whatsapp;
}


.Telefone{
    grid-area: Telefone;
}

@media only screen and (max-width: 600px){
    
    .gridContainer-2{
        grid-template-columns: repeat(1, 1fr);
        display: block;
        width: 90%;
    }

    .gridItem-2{
        margin: 5%;
    }
    
    #txt-home img{
        display: none;
    }

    #txt-we {
        background: none;
        text-align: left;
        padding: 2%;
        height: 100%;
    }

    .header{
        background-size: 520px 292px;
        height: 220px;
        background-attachment: fixed; 
    }

    .header h1{
        display: none;
    }

    .box{
        color: #777;
        background-image: none;
        background-color: rgba(0, 0, 0, 0);
        padding: 5%;
    }

    .box p{
        font-weight: 300;
        font-size: 1.2em;
    }

    .h4, h4 {
        font-size: 1rem;
    }
}


/* 
        @media only screen and (max-width: 600px){
            body{
                background-color: turquoise;
            }
        }

        @media only screen and (min-width: 601px) and (max-width: 1000px){
            body{
                background-color: black;    
            }
        }

        @media only screen and (min-width: 1001px){
            body{
                background-color: green;    
            }
        }
 */


